@media screen and (max-width: 768px) {
    #pag3 #sobreCenario #info p{
        font-size:86%;
    }
    #pag3 #eventos{
        flex-direction:column;
        flex-wrap:no-wrap;
    }
    #pag3 #eventos .locais .faixaTop .times .nome {
        font-size:13px;
    }
    #pag3 #eventos .faixaTop .times #time1 img{
        width:8vw;
        height:10vh;
    }
    #pag3 #eventos .faixaTop .times #time2 img{
        width:7vw;
        height:9vh;
    }
    #pag3 #eventos .faixaTop .times #time3 img{
        width:7vw;
        height:9vh;
    }
    #pag3 #eventos .faixaTop .times #time4 img{
        width:7vw;
        height:9vh;
    }
    #pag3 #eventos .faixaTop .times #time5 img{
        width:8vw;
        height:10vh;
    }
    #pag3 #eventos .faixaTop .times #time6 img{
        width:8vw;
        height:10vh;
    }
    #pag3 #eventos .faixaTop .times #time7 img{
        width:8vw;
        height:10vh;
    }
    #pag3 #eventos .faixaTop .times #time8 img{
        width:7vw;
        height:9vh;
    }
}

@media screen and (max-width:426px) {
 #pag3 #sobreCenario {
     flex-direction:column;
     height:60%;
     padding-left:3%;
     padding-right:3%;
 }
 #pag3 #sobreCenario #titulo{
     width:100%;
 }
 #pag3 #sobreCenario #info p{
    font-size:100%;
 }
 #pag3 #eventos {
     display:block;
 }
 #pag3 #eventos .locais{
     width:100%;
     height:100%;
 }
 #pag3 #eventos .locais .faixaTop .times .nome {
     font-size:20px;
 }
 #pag3 #eventos .locais .faixaTop .times #time1 img{
    margin-left:4%;
    width:21vw;
    height:20vh;
 }
 #pag3 #eventos .locais .faixaTop .times #time2 img{
    margin-left:4%;
    width:19vw;
    height:18vh;
 }
 #pag3 #eventos .locais .faixaTop .times #time3 img{
    margin-left:4%;
    width:19vw;
    height:17vh;
 }
 #pag3 #eventos .locais .faixaTop .times #time4 img{
    margin-left:4%;
    width:19vw;
    height:18vh;
 }
 #pag3 #eventos .locais .faixaTop .times #time5 img{
    margin-left:4%;
    width:20vw;
    height:18vh;
 }
 #pag3 #eventos .locais .faixaTop .times #time6 img{
    margin-left:4%;
    width:20vw;
    height:18vh;
 }
 #pag3 #eventos .locais .faixaTop .times #time7 img{
    margin-left:4%;
    width:20vw;
    height:18vh;
 }
 #pag3 #eventos .locais .faixaTop .times #time8 img{
    margin-left:4%;
    width:20vw;
    height:19vh;
 }
 #pag3 #eventos .locais .faixaTop ul li {
     font-size:20px;
 }
}