/* alterando div pai */
#pag3 {
    width:100%;
    height: 100%;
}
/* altera div sobreCenario */
#pag3 #sobreCenario{
    display:flex;
    width:100%;
    height:150px;
    background-color:#BE9356;
}
/* altera div titulo */
#pag3 #sobreCenario #titulo {
    width:250px;
}
/* altera tag h3 dentro de titulo */
#pag3 #sobreCenario #titulo h3{
    width:100%;
    height:100%;
    text-align:center;
    font-size:30px;
    margin-top:10px;
    color:gold;
}
/* altera div info dentro de sobreCenario */
#pag3 #sobreCenario #info {
    width:100%;
    height:100%;
    margin-left:10px;
}
/* altera p dentro da div info */
#pag3 #sobreCenario #info p{
    color:white;
    font-size:100%;
    margin-top:10px;
}


/* altera div eventos */
#pag3 #jogos {
    display: flex;
    flex-wrap:wrap;
    width:100%;
    height:75%;
}
/* altera div class locais dentro de eventos */
#pag3 #jogos .times  {
    width:50%;
    height:50%;
    border: 1px solid white;
    background-color: rgba(128, 0, 0, 0.8);
}
/* altera a div class times dentro da div class faixaTimes */
#pag3 #jogos .times  {
    border: 1px solid white;
    width:50%;
    height:50%;
}
/* altera a div class times dentro da div class faixaTimes */
#pag3 #jogos .times .faixaTimes{
    background-color: rgb(112, 109, 109);
    margin-top:5px;
    width:100%;
    height:70%;
    padding-left:7%;
    padding-right:7%;
    display:flex;
    justify-content:space-between;   
}
/* altera tag img dentro da div class times1 */
#pag3 #jogos .times .faixaTimes .times1 img {
    width:10vw;
}
/* altera a tag h3 dentro da div class times1 */
#pag3 #jogos .times .faixaTimes .times1 h3 {
    border-bottom:2px solid black;
}
/* altera tag img dentro da div class times2 */
#pag3 #jogos .times .faixaTimes .times2 img {
    width:9vw;
}
/* altera a tag h3 dentro da div class times2 */
#pag3 #jogos .times .faixaTimes .times2 h3 {
    margin-top:14px;
    border-bottom:2px solid black;
}
/* altera data e hora dentro da div class faitaTimes */
#pag3 #jogos .times .faixaTimes .hora {
    text-transform:uppercase;
    text-align:center;
    font-weight:bold;
}
/* altera a tag ul dentro da div class hora */
#pag3 #jogos .times .faixaTimes .hora ul {
    list-style-type:none;
    margin-top:50%;
}

/* altera div class faixaBottom dentro de eventos */
#pag3 #jogos .endereco {
    background-color:white;
    text-align:center;
    margin-top:5%;
}