/* alterando div pai */
#pag3 {
    width:100%;
    height: 100%;
}
/* altera div sobreCenario */
#pag3 #sobreCenario{
    display:flex;
    width:100%;
    height:150px;
    background-color:#BE9356;
}
/* altera div titulo */
#pag3 #sobreCenario #titulo {
    width:300px;
    height:100%;
}
/* altera tag h3 dentro de titulo */
#pag3 #sobreCenario #titulo h3{
    width:100%;
    height:100%;
    text-align:center;
    font-size:40px;
    color:gold;
}
/* altera div info dentro de sobreCenario */
#pag3 #sobreCenario #info {
    width:100%;
    height:100%;
}
/* altera p dentro da div info */
#pag3 #sobreCenario #info p{
    color:white;
    font-size:17px;
    margin-bottom:10px;
}

/* altera div eventos */
#pag3 #eventos {
    display: flex;
    flex-wrap:wrap;
    width:100%;
    height:72%;
}

#pag3 #eventos .locais {
    width:50%;
    height:50%;
    border: 1px solid white;
}
#pag3 #eventos .faixaTop {
    width:100%;
    height:20%;
    background-color: rgba(128, 0, 0, 0.8);
}